<p>
  hello works!
</p>
<p>This is a custom component.</p>
<p>This is interpolation: {{myVar}}</p>
<p>bitwiseOR 2|5= {{bitwiseOR}}</p>
<!-- <p>Do some function: {{doSomeHeavyTask()}}</p>  -->
<!-- do not interpolate a function -->

<label for="userInput">Enter some text:</label>
<input type="text" name="userInput" id="userInput" value="{{myVariable}}" [disabled]="myDisabled">
<!-- interpolation vs property binding  -->
<!-- with interpolation the input is allways disabled -->
<!-- but when using property binding disabled takes its value from ts -->

<!-- create an event -->
<button (click)="myFunction()">{{myButton}}</button>

<p>Using built in directives for two way data binding</p>
<label for="mirroring">Enter text to mirror:</label>
<!-- two way data binding -->
<input type="text" name="mirroring" id="mirroring" [value]="text" (input)="updateValue($event)">
<p>{{text}}</p>

<p>Using ngModel</p>
<label for="mirrorModel">Enter text:</label>
<input type="text" name="mirrorModel" id="mirrorModel" [(ngModel)]="ngText">
<p>{{ngText}}</p>

<!-- ngFor -->
<p>Using data from TS file for ngFor directive</p>
<table>
  <thead>
    <tr>
      <th colspan="2">Data from TS</th>
    </tr>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Online Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of data; let i=index; let evenUser = even; let oddUser = odd; let firstElem=first; let lastElem=last" [ngClass]="{odd: oddUser, even: evenUser, first: firstElem, last: lastElem}">
      <td>{{i + 1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.online}}</td>
    </tr>
  </tbody>
</table>

<p>Using data from a service</p>
<table>
    <thead>
      <tr>
        <th colspan="2">Data from service</th>
      </tr>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Online Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of records; let i=index; let evenUser = even; let oddUser = odd; let firstElem=first; let lastElem=last" [ngClass]="{odd: oddUser, even: evenUser, first: firstElem, last: lastElem}">
        <td>{{i + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.online}}</td>
      </tr>
    </tbody>
  </table>

  <p>Using data from an API</p>
  <table>
      <thead>
        <tr>
          <th colspan="2">Data from service</th>
        </tr>
        <tr>
          <th>No.</th>
          <th>User Name</th>
          <th>User ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of apiData; let i=index; let evenUser = even; let oddUser = odd; let firstElem=first; let lastElem=last" [ngClass]="{odd: oddUser, even: evenUser, first: firstElem, last: lastElem}">
          <td>{{i + 1}}</td>
          <td>{{user.username}}</td>
          <td>{{user.ID}}</td>
        </tr>
      </tbody>
    </table>