<p>
  hello works!
</p>
<p>This is a custom component.</p>
<p>This is interpolation: {{myVar}}</p>
<p>bitwiseOR 2|5= {{bitwiseOR}}</p>
<!-- <p>Do some function: {{doSomeHeavyTask()}}</p>  --> 
<!-- do not interpolate a function -->

<label for="userInput">Enter some text:</label>
<input type="text" name="userInput" id="userInput" value="{{myVariable}}" [disabled]="myDisabled"> 
<!-- interpolation vs property binding  --> 
<!-- with interpolation the input is allways disabled -->
<!-- but when using property binding disabled takes its value from ts -->