<p>
  hello works!
</p>

<ul class="nav">
  <li>
    <a routerLink="/">Home of Angular</a>
  </li>
  <li>
    <a class="active" routerLink="/hello">Hello from Angular</a>
  </li>
  <li>
    <a routerLink="/data">Working with data</a>
  </li>
  <li>
    <a routerLink="/login">Login</a>
  </li>
  <li>
    <a routerLink="/register">Register</a>
  </li>
  <li>
    <a routerLink="/dashboard">Admin Dashboard</a>
  </li>
</ul>

<p>This is a custom component.</p>
<p>This is interpolation: {{myVar}}</p>
<p>bitwiseOR 2|5= {{bitwiseOR}}</p>
<!-- <p>Do some function: {{doSomeHeavyTask()}}</p>  -->
<!-- do not interpolate a function -->

<label for="userInput">Enter some text:</label>
<input type="text" name="userInput" id="userInput" value="{{myVariable}}" [disabled]="myDisabled">
<!-- interpolation vs property binding  -->
<!-- with interpolation the input is allways disabled -->
<!-- but when using property binding disabled takes its value from ts -->

<!-- create an event -->
<button (click)="myFunction()">{{myButton}}</button>

<h3>Using built in directives for two way data binding</h3>
<label for="mirroring">Enter text to mirror:</label>
<!-- two way data binding -->
<input type="text" name="mirroring" id="mirroring" [value]="text" (input)="updateValue($event)">
<p>{{text}}</p>

<h3>Using ngModel</h3>
<label for="mirrorModel">Enter text:</label>
<input type="text" name="mirrorModel" id="mirrorModel" [(ngModel)]="ngText">
<p>{{ngText}}</p>

<h3>Using inbuilt pipes</h3>
<div>
  <p>Somebody owes me {{amount | currency: format}}</p>
  <button (click)="toggleCurrency()">Change to {{currency}}</button>
</div>

<h3>Using custom pipes</h3>
<p>This is a test string</p>
<br>
<p>This is another test {{"string" | reverse: true : "dot" }}</p>

<h3>Using inbuilt directives</h3>

<h4>*ngIf</h4>
<div *ngIf="2>1">Use *ngIf. Yes! 2 is greater than 1</div>
<div *ngIf="checkVar;then trueBlockContent else falseBlockContent"></div>
<ng-template #falseBlockContent>
  <div>
    <h4>Display if false</h4>
  </div>
</ng-template>
<ng-template #trueBlockContent>
  <div>
    <h4>Display if true</h4>
  </div>
</ng-template>

<h4>ngNonBindable</h4>
<p>Interpolation</p>
<p>Interpolation is a way that angular uses to display variables inside HTML using the curly braces. You can display a var <b>name</b> using <span ngNonBindable>{{ name }}</span></p>

<h4>ngClass</h4>
<ul>
  <li *ngFor="let info of data">
    <span [ngClass]="{
      'javascript': info.lang === 'JavaScript',
      'swift': info.lang === 'Swift'
        }">{{info.lang}}</span> 
    is mostly used on {{info.usedOn}}
  </li>
</ul>

<h3>Custom directives</h3>
<p>This is a normal paragraph</p>
<p appRedBlack>This is a custom directive</p>

<h3>Reactive Forms</h3>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Enter your name" id="name" formControlName='name'>
    
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="Enter your email" id="email" formControlName='email'>
    
  </div>
  <div>
    <label for="subject">Subject</label>
    <input type="text" id="subject" name="subject" placeholder="Subject" formControlName="subject">
    
  </div>
  <div>
    <label for="message">Message:</label>
    <textarea name="message" id="message" placeholder="Your Message" formControlName="message"></textarea>
  </div>

  <!-- <div formArrayName="hobbies"> 
    <button type="button">Add Hobby</button>
    <div *ngFor="let hobbyControl of this.contactForm.get('hobbies');  let i=index">
      <input type="text" [formControlName]="i">
    </div>
  </div> -->

  <button type="submit" class="btn btn-large">Send Message</button>
  
  <h3>Reactive Forms</h3>
  <app-name-editor></app-name-editor>
</form>