<label>
  Name:
  <input type="text" [formControl]="name">
</label>
<form id="profile" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <h2>Profile</h2>
  <label>
    First Name:
    <input id='firstName' type="text" formControlName="firstName" minlength="5">
  </label>

  <label>
    Last Name:
    <input id='lastName' type="text" formControlName="lastName" minlength="4">
  </label>
  <div formGroupName="address" id="address">
    <h3>Address</h3>

    <label>
      Street:
      <input id='street' type="text" formControlName="street" minlength="5">
    </label>

    <label>
      City:
      <input id='city' type="text" formControlName="city" minlength="3">
    </label>

    <label>
      State:
      <input id='state' type="text" formControlName="state" minlength="2">
    </label>

    <label>
      Zip Code:
      <input id='zip' type="number" formControlName="zip">
    </label>
  </div>
  <button id="update" (click)="updateProfile()">Update Profile</button>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<p>
  NickName: {{ name.value }}
</p>
<p>
  First Name: {{ profileForm.value.firstName }}
</p>
<p>
  Last Name: {{ profileForm.value.lastName }}
</p>
<div>
  <button (click)="updateName()">Update NickName</button>
</div>

<form id="profile" [formGroup]="profileFormFB" (ngSubmit)="onSubmit()">
  <h2>Profile : Using Form Builder</h2>
  <label>
    First Name:
    <input id='firstNameFB' type="text" formControlName="firstName" minlength="7" required>
  </label>

  <label>
    Last Name:
    <input id='lastNameFB' type="text" formControlName="lastName" minlength="7">
  </label>
  <div formGroupName="address" id="address">
    <h3>Address</h3>

    <label>
      Street:
      <input id='streetFB' type="text" formControlName="street" minlength="7">
    </label>

    <label>
      City:
      <input id='cityFB' type="text" formControlName="city" minlength="7">
    </label>

    <label>
      State:
      <input id='stateFB' type="text" formControlName="state" minlength="2">
    </label>

    <label>
      Zip Code:
      <input id='zipFB' type="number" formControlName="zip">
    </label>
  </div>
  <div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let address of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label for="i">
        Alias:
        <input id="i" type="text" [formControlName]="i">
      </label>
    </div>
  </div>
  <p>
    Form Status: {{ profileFormFB.status }}
  </p>
  <button id="update" (click)="updateProfileFB()">Update Profile</button>
  <button type="submit" [disabled]="!profileFormFB.valid">Submit- {{profileFormFB.status}}</button>
</form>

<p>Use validators in reactive forms</p>
<form id="hero" [formGroup]="heroForm">
  <h2>Hero Form</h2>
  <div class="inputContainer">
    <label for="heroName">Name:</label>
    <input type="text" id="heroName" formControlName="name" required
      [class.bad]="heroForm.get('name').invalid && (heroName.dirty || heroName.touched)">
    <!-- <div *ngIf="heroName.errors.required">Name is required.</div> -->
    <!-- <div *ngIf="heroName.errors.minlength">Name must be at least 4 characters long.</div> -->
  </div>
  <div class="inputContainer">
    <label for="heroAlterEgo">Ego:</label>
    <input type="text" id="heroAlterEgo" formControlName="alterEgo">
  </div>
  <div class="inputContainer">
    <label for="heroPower">Power:</label>
    <input type="text" id="heroPower" formControlName="power">
  </div>
  </form>