<p>
  home works!
</p>

<ul class="nav">
  <li>
    <a class="active" routerLink="/">Home of Angular</a>
  </li>
  <li>
    <a routerLink="/hello">Hello from Angular</a>
  </li>
  <li>
    <a routerLink="/data">Working with data</a>
  </li>
  <li>
    <a routerLink="/login">Login</a>
  </li>
  <li>
    <a routerLink="/admin">Go to Admin Dashboard</a>
  </li>
</ul>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.freecodecamp.org/top">Camper</a></h2>
  </li>
  
</ul>
